<div class="container">	
	<div class="row">
		<div class="form-group col-md-2 submit">
			<a routerLink="/feeds"><button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span>Cancel</button></a>
		</div>
		<div class="col-md-4">
			<h3>feed_name</h3>
		</div>
	</div> <!-- row ends -->

	<ul class="nav nav-tabs">
		<li role="presentation"><a href="feeds/:id/edit">General</a></li>
	  <li role="presentation"><a href="loading-parameters">Loading Parameters</a></li>
	  <li role="presentation"><a href="rewriting-parameters">Rewriting Parameters</a></li>
	  <li role="presentation"><a href="advanced-parameters">Advanced Parameters</a></li>
	  <li role="presentation"><a href="loading-results">Loading results</a></li>
	  <li role="presentation"><a href="products">Products</a></li>
	  <li role="presentation" class="active"><a href="feed-history">History</a></li>
	</ul>

	<h2>Shows each feed modification history</h2>
</div>	
